<div class="event-description dimming col-height word-break">
  <h4><%= link_to meeting.name, meeting_path(meeting.id) %></h4>
  <h5><%= l meeting.date, format: :long %><h5>
  <h6><%= meeting.place %><h6>
</div>
