<h1 class="mb-4"><%= t("my.meetings.index.title") %></h1>

<% if user_signed_in? %>
  <%= link_to t("my.meetings.index.create_meeting"), new_meeting_path, class: "btn btn-success mb-3" %>
<% end %>

<%= render "layouts/meetings_list", meetings: @meeting %>
