<div class="row">
    <div class="col-12 mt-3">
      <div style="background-image: url(<%= image_path "meet.jpg" %>)" class="event-background"></div>
      <%= render 'meetings/text_content', m: @meeting %>
    </div>
</div>

<div class="row mt-5">
  <div class="col-md-8">
  </div>
  <div class="col-md-4">
    <div>
      <h3>Создатель:</h3>
      <%= link_to @user.nickname, user_path(@user), class: "btn btn-primary" %>
    </div>
    <h3>Пойдут:</h3>
  </div>
</div>
