<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible">
    <%= t("my.error",
               count: resource.errors.count,
               resource: resource.class.model_name.human)
    %>
    <% resource.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
