<div class="d-flex flex-row mb-1">
  <div class="col-md-4 px-2">
    <% if subscription.user.present? %>
      <em><%= render "users/user", user: subscription.user %></em>
    <% else %>
      <em><%= subscription.user_name %> </em>
    <% end %>
  </div>
  <div class="col-md-8">
    <% if user_can_delete?(subscription.meeting.user, subscription.user) %>
      <%= button_to fa_icon("trash"), meeting_subscription_path(@meeting, subscription), class: "btn-sm btn delete-confirm", method: :delete %>
    <% end %>
  </div>
</div>
